<settings xmlns='http://maven.apache.org/SETTINGS/1.0.0' xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
	<profiles>
	  <profile>
		<repositories>
		  <repository>
			<snapshots>
			  <enabled>
				false
			  </enabled>
			</snapshots>
			<id>
			  bintray-ahmedalyousif-CSVObjectivy
			</id>
			<name>
			  bintray
			</name>
			<url>
			  https://dl.bintray.com/ahmedalyousif/CSVObjectivy/CSVObjectivy
			</url>
		  </repository>
		</repositories>
		<pluginRepositories>
		  <pluginRepository>
			<snapshots>
			  <enabled>
				false
			  </enabled>
			</snapshots>
			<id>
			  bintray-ahmedalyousif-CSVObjectivy
			</id>
			<name>
			  bintray-plugins
			</name>
			<url>
			  https://dl.bintray.com/ahmedalyousif/CSVObjectivy/CSVObjectivy
			</url>
		  </pluginRepository>
		</pluginRepositories>
		<id>
		  bintray
		</id>
	  </profile>
	</profiles>
	<activeProfiles>
	  <activeProfile>
		bintray
	  </activeProfile>
	</activeProfiles>
	<servers>
		<server>
			<id>bintray-ahmedalyousif-CSVObjectivy</id>
			<username>ahmedalyousif</username>
			<password>a064fe182aa80b2134ecf10274837290e62ce0c4</password>
		</server>
	</servers>
  </settings>
